.container {
  width: 100%;
 max-width: 2000px;
 margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  background-color: #edeff1;
  display: flex;
}

h1, h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  font-family: "Roboto Slab", Arial, sans-serif;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  font-family: "Roboto", Arial, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
  background-color: red; ffffff
}

.header__logo {
  float:left;
}

.header__nav {
  float: left;
  list-style: none;
}

.header__nav li {
  display: inline-block;
  vertical-align: top;
}

.header__nav a {
  text-decoration: none;
display: block;
padding: 1em;
color: white;

}
